{% extends 'webapp/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<body>
    <div class="container bg-light shadow-md p-5 form-layout shadow rounded-5 mt-4">
        <h3>Edit User</h3>
        <hr>
        <br>

        <form method="post">
            {% csrf_token %}
            <h5 class="mb-4">Username: {{user}}</h5>

            <!-- Render EditUserProfileForm with crispy -->
            {{ profile_form|crispy }}

            <!-- Render EditUserPasswordForm with crispy -->

            {{ password_form.new_password1|as_crispy_field }}
            {{ password_form.new_password2|as_crispy_field }}

            <br>
            <a href="{% url 'user-list' %}" class="btn btn-dark return-btn btn-sm"> Return </a>
            <button type="submit" class="btn btn-sm btn-success">Submit</button>
        </form>
    </div>
</body>
{% endblock %}
