{% extends 'webapp/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <body>
        <div class="container-fluid bg-light shadow-md p-5 form-layout shadow mt-4 hidden">
            <h3> Login account</h3>
            <hr>
            <br>

            <form method="POST" action="">
                {% csrf_token %}

                {{form|crispy}}

                <br>
                <button type="submit " class="btn btn-dark-blue w-100 rounded-5 p-2"> Login</button>


            </form>

            <br>

  

        </div>
        </div>
    <br>
    </body>

{% endblock %}
