{% extends 'webapp/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container mt-4">
  <div id="main">
    <span style="font-size: 30px; cursor: pointer" onclick="openNav()">&#9776;</span>

    <h5>Welcome, {{ user }}</h5>
    <h1 class="dashboard">Branch Setup</h1>

    <h5>{{ branch_type|upper }} OFFICE</h5>

    <br />


    <a href="{% url 'add-record' %}" class="btn btn-dark btn-sm">Add Record <i class="fa fa-plus" aria-hidden="true"></i></a>
    
    <br />
    <br />

<!--Modal-->
    <table id="table" class="table table-sm table-light table-hover shadow">
      <thead class="table-active">
        <tr>
          <th scope="col">Branch Code</th>
          <th scope="col">Branch Name</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% if records and records %}
          {% for record in records %}
            <tr>
              <td>{{ record.branch_code }}</td>
              <td>{{ record.branch_name }}</td>
              <td>{{ record.status }}</td>
              <td>
                
                <a class="btn btn-dark btn-sm" href="{% url 'update-record' record.id %}">Edit
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
                
                <a class="btn btn-danger btn-sm" data-toggle="modal" data-target="#confirmDeleteModal" onclick="setDeleteUrl('{{ record.id }}')">Delete
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </a>

              </td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td colspan="4" class="text-center">No records found</td>
          </tr>
        {% endif %}
      </tbody>
    </table>

   
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="confirmDeleteModalLabel">Delete Confirmation</h5>
          
          </div>
          <div class="modal-body">
            Are you sure you want to delete this record?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal">Cancel</button>
            <a id="delete-record-btn" class="btn btn-danger btn-sm" href="#">Delete</a>
          </div>
        </div>
      </div>
    </div>

    <script>
      function setDeleteUrl(recordId) {
        var deleteUrl = "{% url 'delete-record' 9999 %}".replace('9999', recordId);
        document.getElementById('delete-record-btn').setAttribute('href', deleteUrl);
      }
    </script> 

    

  </div>
</div>





{% endblock %}
